{% extends "base.html" %}
{% block title %}Fedora - Python 3.13 rebuild: sorted by maintainers{% endblock %}
{% block content %}
<a href="{{ url_for('index') }}">Take me home</a><br>
<h2>All packages grouped by package maintainer</h2>

<p><u>Legend</u><br>
    🟢 = successful build<br>
    🟠 = successfully built at least once, last build failed<br>
    🔴 = failed build<br>
    ⚪ = waiting to be rebuilt<br>
</p>

<table>
    <tr>
        <th>Maintainer</th>
        <th>Packages</th>
    </tr>
    {% for maintainer, package_names_and_statuses in status_by_maintainers %}
    <tr>
        <td valign="top">{{ maintainer }}</td>
        <td>{{ ", ".join(package_names_and_statuses) }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}